@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Roboto font not working ^^^*/

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.header{
    height: 48px;
    background: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

/* Move logo more to the left*/

.links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* Section one starts here */

.bodyone {
    height: 350px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold; 
    color: #F9FAF8;
    max-width: 300px;
    margin: 0;
    padding: 0;
    
}

.text {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 400px;
    margin: 0px;
    padding: 0px;
}


.signup{
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
    margin: 5px;
    padding: 5px;
}

/* Section Two starts here*/

.bodytwo {
    height: 450px;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 52px;
}

.caption{
    max-width: 200px;
    display: flex;
}

.partwo {
    display: flex;
    flex-direction: column;
}

/* Section Three starts here */

.bodythree {
    background: #e5e7eb;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    max-width: 750px;
}

.person {
    font-size: 18px;
    font-weight: bold;
}

/* Section four starts here */

.bodyfour{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 24px;
}

.container{
    background-color: #3882f6;
    width: 1000px;
    height: 100px;
    display: flex;
    border-radius: 10px;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;

}

#cta {
    color: #e5e7eb;
    font-weight: bold;
}

p {
    color: #e5e7eb;
}



/* Footer starts here*/

.footer{
    height: 50px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: #e5e7eb;
}

/* Don't forget to credit for the images used */