body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.header{
    height: 48px;
    background: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}



.links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* Section one starts here */

.bodyone {
    height: 350px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 20px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold; 
    color: #F9FAF8;
    max-width: 300px;
    margin: 0;
    padding: 0;
    
}

.text {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 400px;
    margin: 0px;
    padding: 0px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    margin: 8px auto;
    padding: 8px;
    width: 27%;
    font-weight: bold;
    border-style: none;
}

/* Section Two starts here*/

.bodytwo {
    height: 480px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 52px;
}

.card{
    max-width: 200px;
}

/* Section Three starts here */

.partwo {
    display: flex;
    flex-direction: column;
}

.bodythree {
    background: #e5e7eb;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    max-width: 750px;
}

cite{
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}

.test{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

/* Section four starts here */

.bodyfour{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 40px;
}

.container{
    background-color: #3882f6;
    width: 850px;
    height: 110px;
    display: flex;
    border-radius: 10px;
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
}



#cta {
    color: #e5e7eb;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    color: #e5e7eb;
}

.bottom{
    border-style: solid;
    border-color: white;
    width: 110px;
    padding: 3px;
}


/* Footer starts here*/

.footer{
    height: 50px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: #e5e7eb;
}

/* Don't forget to credit for the images used */